@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
.button:hover {
  background-color: aliceblue;
  transition: all 0.5s ease-in-out;
}
.row{
  margin: 8px 0;
}